.App {
  text-align: center;
}

.header{
  position:sticky;
  top: 0;
  background-color: white;
  width:100vw;
  margin:0 auto;
}

.navbar{
  margin-bottom:50px;
  display: block;
  height: 80px;
  background-color: black;
  color: white;
}

.navbar a{
  color: white;
  text-decoration: none;
}

.navbar-left{
  margin-top:30px;
  float: left;
}

.left-element{
  margin-left: 4vw;
  height:100%
}
.left-element:hover{
  color:rgb(253, 194, 0);
}

.brandName{
  font-size: 40px;
  color: rgb(253, 194, 0) !important;
  font-weight: bold;
  display: inline-flex;
  margin-top: 10px;
  margin-left: 0px;
}

.navbar-right{
  margin-right:40px;
  float: right;
  display:inline-flex;
}
.right-element{
  margin-left: 10px;
}
.fg--search {
  position: relative;
}

.fg--search input {
  min-width: 100px;
  width:20vw;
  height:20%;
  margin-top:25px;
  margin-right:30px;
  height: 30px;
}

.fg--search button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  /* padding: 31px 40px; */
  padding: 33px 35px;
  /* z-index: 2; */
}
.fa-user-circle{
  font-size: 45px;
  margin-top:20px;
  margin-right:10px;
}
.fa-shopping-cart{
  font-size: 35px;
  margin-top:25px;
  margin-right:10px;
}
.fa-heart{
  font-size: 35px;
  margin-top:25px;
}

.products-title{
  height: 70px;
  width:100%;
  margin-top:-150px;
  background-color: yellowgreen;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  position:fixed;
  /* position: -webkit-sticky;
  position: sticky;
  top: 80px; */
}

.products h1{
  font-size: 40px;
  margin-top:15px;
  margin-left: 100px;
  text-transform: capitalize;
  text-decoration: underline overline;
  text-align: start;
}

.sales-products-wrapper, .products-wrapper{
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap:50px;
}
.item{
  height: 350px;
  text-align: center;
  padding-top: 5%;
  background-color: rgba(191, 240, 95, 0.486);
  border-radius: 10px;
  border:2px solid black;
}
.image-background{
  background-color: white;
  height: 200px;
  width: 100%;
  border:1px solid black;
  margin-left: -1px;
}
.sales-products-wrapper img, .products-wrapper img{
  height: 70%;
  max-width: 100%;
  margin-top:30px;
}
.item-button{
  height: 30px;
  border:none;
  border-radius: 4px;
  margin:5px;
  color:white;
  cursor: pointer;
}
.item-button:active{
  box-shadow: 2px 2px 5px grey;
}
.item-cart{
  background-color: green;
}
.item-favs{
  background-color: rgb(160, 9, 55);
}
.item-name{
  font-weight: bold;
  font-size:20px;
  padding-bottom: 10px;
  color: black;
  text-shadow: 0.5px 0.5px grey;
}
.sales-products-wrapper p,.products-wrapper  p{
  text-transform: capitalize;
  line-height: 5px;
}
.sale{
  color:green;
}
.cart{
  margin-top:-300px;
}
.button-qtt{
  height: 30px;
  width: 30px;
  border:none;
  border-radius: 4px;
  margin:5px;
  color:black;
}
.button-qtt:active{
  box-shadow: 2px 2px 5px grey;
}
.button-less{
  background-color: grey;
  color:white;
  font-size: 20px;
}
.button-more{
  background-color: green;
  color:white;
  font-size: 20px;
}
.button-remove{
  background-color: darkred;
}
.cart-items{
  height:380px;
}
.total-cart{
  margin-top: 50px;
}
.total{
  font-size: 20px;
  margin-bottom: 20px;
}
.button-pay{
  height: 60px;
  width: 150px;
  border:none;
  border-radius: 4px;
  margin:5px;
  color:white;
  cursor: pointer;
  background-color: yellowgreen;
  font-size: 25px;
}
.button-clear-all{
  height: 50px;
  width: 100px;
  border:none;
  border-radius: 4px;
  margin:5px;
  color:white;
  cursor: pointer;
  background-color: grey;
  font-size: 20px;
}
.favourites{
  margin-top:-300px;
}

.home-image{
  margin-top:20px;
  width: 80vw;
}
.home-container{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 32px;
  max-width: 80vw;
  margin-left:10%;
  margin-top: 5vw;
}
  
.home-prod{
    width:25vw;
}

.homeLink{
  text-decoration: none;
  color:black;
  font-size: 22px;
}

.home-sales-container{
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 32px;
  max-width: 80vw;
  margin-left:10%;
  margin-top: 5vw;
  background-color: rgb(159, 235, 163);
  height: 420px;
  justify-content: center;
  align-items: center;
}

.home-sales-text{
  color: black;
  margin: 0 auto;
}
.home-sales-text h2{
  font-size: 40px;
  margin: -40px auto auto auto;
}
.home-sales-text p{
  color:black
}
.home-sales-section h2{
  background-color: rgb(97, 179, 226);
  width:300px;
  height: 60px;
  font-size: 40px;
  margin: -20px auto 20px auto;
  padding-top: 12px;
  text-transform: uppercase;
}
.homeLinkSales{
  text-decoration: none;
  color:black
}

.home-sales-section p{
  text-decoration: none;
  color:white !important;
  width:300px;
  height: 30px;
  font-size: 20px;
  margin: 0 auto auto auto;
  padding-top: 6px;
  text-transform: uppercase;
}
.homeLinkSalesOdd{
  background-color: black;
}
.homeLinkSalesEven{
  background-color: black;
}
.home-shoes-container{
  display:grid;
  grid-template-columns: 60% 40%;
  column-gap: 32px;
  max-width: 80vw;
  margin-left:10%;
  margin-top: 5vw;
  /* height: auto; */
  justify-content: center;
  align-items: center;
}
.home-shoes-column{
  height: 650px;
}
.home-shoes-container img{
  margin:30px auto auto auto;
}
.home-shoes-column2 h2{
  margin-top: 150px;
  margin-right: 80px;
  font-size: 30px;
}
.home-shoes-column2 p{
  font-size: 20px;
  margin-right: 80px;
}
.homeLinkShoes{
  text-decoration: none;
  color:black
}

.myProfile{
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 100px;
}
.myProfile a,.profile-item a{
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color:black;
  margin: 50px;
  border-radius: 5%;
  padding:15px;
}

.myProfile a:hover,.profile-item a:hover{
  color: black;
  background-color:darkgrey;
}

.profile-item{
  margin-top: 50px;
}

footer{
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-top: 100px;
  margin-bottom: 2vw;
  background-color: black;
  color:white
}
.footer-wrapper{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
footer p{
  font-size: 13px;
  /* line-height: 2.5em; */
}
footer a{
  text-decoration: none;
  text-transform: uppercase ;
  color: white;
}
.copyright{
  margin-top:50px;
  text-transform: uppercase ;
}

.donate-wrapper button{
  width: 120px;
  height: 150px;
  background: rgba(156, 167, 2, 0.884);
  border: none;
  cursor: pointer;
  margin:10px;
  color: white;
  font-size: 20px;
}
.donate-wrapper button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.contact-us{
  font-size: 20px;
}
#contact-message{
  height:200px;
  width: 300px;
}
.button-send{
  width: 100px;
  height: 50px;
  background: rgba(156, 167, 2, 0.884);
  border: none;
  cursor: pointer;
  margin:10px;
  color: white;
  font-size: 20px;
}

